h1{
	background-color: rgb(58,61,100);
	font-family: ariel; 
	color: rgb(255, 165, 0);
}

#margin{
	background-color: rgb(58, 61, 100);
	 float: left;
	 height: 500px; 
	 width: 250px;
}

.button{
	display: block;
	color: rgb(255,255,255);
	height: 30px;
	width: 248px;
	border: 2px solid rgb(255,255,255);
}